::-webkit-scrollbar {
  width: 7px;
  background: rgba(var(--v-theme-primary), 0.24);
}

::-webkit-scrollbar:horizontal {
  height: 7px;
  background: rgba(var(--v-theme-primary), 0.24);
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb-horizontal {
  border-radius: 0.5rem;
  background: rgba(var(--v-theme-primary), 1);
}

::-webkit-scrollbar-corner {
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

.two-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.three-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.landing-wrapper {
  border: 2px dashed #aaa;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.gap-2 {
  gap: 8px;
}

.gap-3 {
  gap: 16px;
}

.gap-4 {
  gap: 24px;
}

.w-screen {
  width: 100vw !important;
}

.h-screen {
  height: 100vh !important;
}

.card-title {
  color: rgba(var(--v-theme-grey-800)) !important;
  font-weight: bold !important;
  font-size: 18px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor-pointer {
  cursor: pointer;
}

.scroll-wrapper {
  height: calc(100vh - 64px);
  overflow-y: auto;
}

// 模块选择的样式，效果见角色管理
.module-checkbox-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-row-gap: 16px;
  grid-column-gap: 10px;
  .v-checkbox {
    display: flex;
    width: 100%;
    .v-input__control {
      width: 100%;
      .v-checkbox-btn {
        flex: 1;
        min-height: auto;
        border-radius: 4px;
        padding: 4px 10px 4px 4px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        font-weight: bold;
        .v-label--clickable {
          width: 100%;
        }
      }
    }
  }
}